
body{
    font-size:x-large;
    background-color: rgb(52, 52, 236);
    color: white;
    margin: 0px 0px ;
    font-family: cursive;
}

.sel{
    width: 30%;
    height: 30%; 
    padding: 45px 110px ; 
    animation: rotate 0.2s ease-in-out 0s 2 forwards;   
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);  
    }
}

ul li {
    list-style: none ;
    color:red;
    padding: 0px 25px; 
}

nav {   
    display: flex;
    flex-direction: row ;   
    flex-wrap: wrap;
    /* position: sticky; */
    top: 0px;
    padding: 0px 80px; 
    background-color: rgba(75, 36, 214, 0.829);
}

ul {  
    display: flex;
    flex-direction: row-reverse;  
    flex-wrap: wrap;
    justify-content: flex-end;
    font-family: cursive; 
    padding-left: 210px;
}

.li{
    color: beige; 
}

.flex-1 {
    display: flex;
    flex-direction: row-reverse;  
    margin: 35px 0px ; 
}

h1 {  
    padding: 0px 150px;
    font-size: 40px;
}

button{
    background-color: rgb(0, 247, 255);
    color: blueviolet;
    font-size: large;
    font-family: cursive;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: 1px solid rgb(5, 37, 180);
    margin: 0px 180px;   
    margin-top: 30px; 
}
 
.flex-2 {
    padding-top: 20px;
}


  
  
  
  
  
  
@media screen and (max-width : 1350px) { 
    
    ul li {
        list-style: none ;
        color:red;
        padding: 10px 25px; 
    }


    

    .flex-2 {
        margin-left: 40px;
    }

    
    .sel{
        width: 400px;
        height: 400px; 
        padding: 45px 180px ; 
        animation: rotate 0.2s ease-in-out 0s 2 forwards;   
    } 
    nav {   
        /* width: 900px; */
        display: flex;
        flex-direction: column ;   
        flex-wrap: wrap; 
        padding: 0px 80px; 
        margin: 0px 0px;
        background-color: rgba(75, 36, 214, 0.829);
    }
    
    ul {  
        display: flex;
        flex-direction: column-reverse;  
        flex-wrap: wrap;
        justify-content: flex-end;
        font-family: cursive; 
        margin: 20px -236px;
    }

    
    .li{
        color: beige; 
    }
    
    .flex-1 {
        display: flex;
        flex-direction: column;  
        margin: 35px 0px ;
        
    }
    
    h1 {  
        padding: 0px 150px;
        font-size: 40px;
    }
    
    button{
        background-color: rgb(0, 247, 255);
        color: blueviolet;
        font-size: large;
        font-family: cursive;
        width: 200px;
        height: 35px;
        border-radius: 10px;
        border: 1px solid rgb(5, 37, 180);
        margin-left: 220px;
        margin-top: 30px; 
    }
    
}